@import 
	'../../core/abstracts/variables';

.MuiTouchRipple-child {
  	background-color: getColor(fillSvg) !important;
}

#tsparticles{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
#container {
	position: relative;
	max-width: 100%;
	overflow: auto;
	padding: 30px 0;

	#pageLogin{
		max-width: 100%;
		// height: 100vh;
		#loginFormSignIn,#loginFormSignUp,#loginFormForgot{
			display: block;

			&.show{
				display: block;
			}
		}
		.loginForm{
			width: inherit;
			max-width: calc(100% - 50px);
			color: getColor(primary-text);

			.pageLoginLogo{
				margin-bottom: 24px;
				img{
					width: 150px !important;
				}
			}

			.box{
				background-color: #fff;
				padding: 32px;
				@include border-radius(8px);
				@include box-shadow(0 .1rem 1rem .25rem rgba(0,0,0,.05));

				.formGroup{
					display: flex;
					margin-bottom: 20px;
					align-items: center;
					position: relative;
					width: inherit;


					[class*="error"]{

						[class^="MuiInputLabel-root"]{
							color: $danger !important;
						}

						[class*="Mui-focused"]{
							color: $danger !important;

							fieldset{
								border-color: $danger !important;
							}
						}

						fieldset{
							border-color: $danger !important;
						}

						[class^="MuiFormHelperText-root"]{
							color: $danger !important;
							font-size: .8rem;
						}

						[class^="JoyFormHelperText-root"]{
							color: $danger !important;
							font-size: 1.2rem;
						}
					}
					[class^="MuiFormHelperText-root"]{
						color: $danger !important;
						font-size: .8rem;
					}

					[class*="JoyTextField-root"]{
						width: 100%;
						label{
							font-size: 14px;
							font-weight: 500;
							margin-bottom: 5px;
						}
					}

					[class*="JoyInput-root"]{
						height: 44px;
						font-size: 16px;
						border-color: getColor(primary-border);
						padding: 0 16px;
						color: getColor(secondary-text);
						input{
							&::placeholder{
								color: getColor(secondary-text);
							}
						}
						svg{
							width: 20px;
							height: 20px;
						}
					}
					
				}

				[class*="btn"]{
					height: 44px;
					font-size: 1.5rem !important;
					@include border-radius(8px);
				}
				[class*="btn"]:disabled{
					pointer-events: none; 
					opacity: 0.5;
				}

				[class*="cbx"]{
					background-color: var(--color-secondary-background);
				}

				[class^="sk-fading-circle"]{
					margin-left: 10px;
				}

				[class*="JoyButton-root"]{
					height: 44px;
					font-size: 16px;
					padding: 0 16px;
				}

				[class*="JoyButton-variantContained"]{
					color: #fff;
					background-color: $primary;
					margin-top: 20px;
					&:hover{
						background-color: #183FBA;
					}
				}

				[class*="JoyButton-variantOutlined"]{
					margin-top: 16px;
					color: getColor(secondary-text);
					text-transform: initial;
					width: 100%;
					border-color: getColor(primary-border);
					&:hover{
						background: #F9FAFB;
					}
				}

				[class*="JoyCheckbox-root"]{
					label{
						font-size: 14px;
						font-weight: 500;
					}
					input[type=checkbox]{
						width: 16px;
						height: 16px;
					}
					--Checkbox-size: 1.5rem;
				}
				[class^="scan-region-highlight-svg"]{
					stroke: rgb(224, 90, 198) !important;
				}

			}

			.LoginHead{
				margin-bottom: 32px;
				text-align: center;
				h3{
					font-size: 3rem;
					color: getColor(title-text);
					font-weight: 600;
					text-transform: capitalize;
					margin-bottom: 10px;
				}
				p{
					color: getColor(secondary-text);
					font-size: 1.6rem;
					font-weight: 400;
				}
			}

			.forgotText{
				color: #1F4DE2;
				cursor: pointer;
				font-size: 14px;
				font-weight: 500;

				&:hover{
					opacity: 0.8;
				}

				&.primary{
					color: #1F4DE2;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			.textError{
				color: $primary;
				font-size: 1.1rem;
				margin-bottom: 10px;
				visibility: hidden;
				position: relative;
				top: 5px;
				@include opacity(0);
				@include transition(all 0.2s linear);

				&.show{
					visibility: inherit;
					@include opacity(1);
				}
			}

			.boxBottom{
				background-color: #022956;
				padding: 35px;

				[class*="btn"]{
					font-size: 1.5rem !important;
					@include border-radius(8px);
				}

			}
		}
		.btn-google{
			width: 100%;
		}
	}
}

.dialog {
	#imgcenter {
		display: flex;
		text-align: center;
		margin-top: 20px;
		justify-content: center;
	  }

	#confirmbtn {
		color: #fff;
		background-color: #2D5DE6;
		margin-top: 20px
	}  
}



@media only screen and (min-width: 768px) {
	#container {
		position: relative;
		max-width: 100%;
		overflow: auto;
		padding: 30px 0;
	
		#pageLogin{
			max-width: 100%;
			// height: 100vh;
			#loginFormSignIn,#loginFormSignUp,#loginFormForgot{
				display: block;
	
				&.show{
					display: block;
				}
			}
			.loginForm{
				width: inherit;
				max-width: calc(100% - 50px);
				color: getColor(primary-text);

	
				.pageLoginLogo{
					margin-bottom: 24px;
					img{
						width: 150px !important;
					}
				}
	
				.box{
					background-color: #fff;
					padding: 32px;
					@include border-radius(8px);
					@include box-shadow(0 .1rem 1rem .25rem rgba(0,0,0,.05));
					.form {
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						flex-wrap: wrap;
						gap: 5%;
						>div:first-child{
							margin-top: 60px;
						}
					}
					.formSection{
						flex: 40%;
					}
					.formGroup{
						display: flex;
						margin-bottom: 20px;
						align-items: center;
						position: relative;
						width: inherit;

	
	
						[class*="error"]{
	
							[class^="MuiInputLabel-root"]{
								color: $danger !important;
							}
	
							[class*="Mui-focused"]{
								color: $danger !important;
	
								fieldset{
									border-color: $danger !important;
								}
							}
	
							fieldset{
								border-color: $danger !important;
							}
	
							[class^="MuiFormHelperText-root"]{
								color: $danger !important;
								font-size: .8rem;
							}
	
							[class^="JoyFormHelperText-root"]{
								color: $danger !important;
								font-size: 1.2rem;
							}
						}
						[class^="MuiFormHelperText-root"]{
							color: $danger !important;
							font-size: .8rem;
						}
						[class*="JoyTextField-root"]{
							width: 100%;
							label{
								font-size: 14px;
								font-weight: 500;
								margin-bottom: 5px;
							}
						}
	
						[class*="JoyInput-root"]{
							height: 44px;
							font-size: 16px;
							border-color: getColor(primary-border);
							padding: 0 16px;
							color: getColor(secondary-text);
							input{
								&::placeholder{
									color: getColor(secondary-text);
								}
							}
							svg{
								width: 20px;
								height: 20px;
							}
						}
						
					}
	
					[class*="btn"]{
						height: 44px;
						font-size: 1.5rem !important;
						@include border-radius(8px);
					}
					[class*="btn"]:disabled{
						pointer-events: none; 
						opacity: 0.5;
					}
					[class*="cbx"]{
						background-color: var(--color-secondary-background);
					}
	
					[class^="sk-fading-circle"]{
						margin-left: 10px;
					}
	
					[class*="JoyButton-root"]{
						height: 44px;
						font-size: 16px;
						padding: 0 16px;
					}
	
					[class*=""]{
						color: #fff;
						background-color: $primary;
						margin-top: 20px;
						&:hover{
							background-color: #183FBA;
						}
					}
	
					[class*="JoyButton-variantOutlined"]{
						margin-top: 16px;
						color: getColor(secondary-text);
						text-transform: initial;
						width: 100%;
						border-color: getColor(primary-border);
						&:hover{
							background: #F9FAFB;
						}
					}
	
					[class*="JoyCheckbox-root"]{
						label{
							font-size: 14px;
							font-weight: 500;
						}
						input[type=checkbox]{
							width: 16px;
							height: 16px;
						}
						--Checkbox-size: 1.5rem;
					}
	
				}
	
				.LoginHead{
					margin-bottom: 32px;
					text-align: center;
					h3{
						font-size: 3rem;
						color: getColor(title-text);
						font-weight: 600;
						text-transform: capitalize;
						margin-bottom: 10px;
					}
					p{
						color: getColor(secondary-text);
						font-size: 1.6rem;
						font-weight: 400;
					}
				}
	
				.forgotText{
					color: #1F4DE2;
					cursor: pointer;
					font-size: 14px;
					font-weight: 500;
	
					&:hover{
						opacity: 0.8;
					}
	
					&.primary{
						color: #1F4DE2;
	
						&:hover{
							text-decoration: underline;
						}
					}
				}
	
				.textError{
					color: red;
					font-size: 1.1rem;
					margin-bottom: 10px;
					visibility: hidden;
					position: relative;
					top: 5px;
					@include opacity(0);
					@include transition(all 0.2s linear);
	
					&.show{
						visibility: inherit;
						@include opacity(1);
					}
				}
	
				.boxBottom{
					background-color: #022956;
					padding: 35px;
	
					[class*="btn"]{
						font-size: 1.5rem !important;
						@include border-radius(8px);
					}
	
				}
			}
			.btn-google{
				width: 100%;
			}
		}
	}
}
.loading {
	opacity: 0.4;
	pointer-events: none;
}


